Repository OpenHack34510/team3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @harshsaki4, @aws-sujith, @deepum-kapil, @weisdd

Create trips-ci.yml
  .github/workflows/trips-ci.yml
Owners: none

Update trips-ci.yml
  .github/workflows/trips-ci.yml
Owners: none

Update trips-ci.yml
  .github/workflows/trips-ci.yml
Owners: none

Update logger.go
  apis/trips/tripsgo/logger.go
Owners: @aws-sujith

Update trips-ci.yml
  .github/workflows/trips-ci.yml
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  apis/poi/README.md
Owners: @harshsaki4

Update README.md
  apis/trips/README.md
Owners: @aws-sujith

Update trips-ci.yml
  .github/workflows/trips-ci.yml
Owners: none

Update trips-ci.yml
  .github/workflows/trips-ci.yml
Owners: none

Update README.md
  README.md
Owners: none

Update routers.go
  apis/trips/tripsgo/routers.go
Owners: @aws-sujith

Update trips-ci.yml
  .github/workflows/trips-ci.yml
Owners: none

Update trips-ci.yml
  .github/workflows/trips-ci.yml
Owners: none

Update trips-ci.yml
  .github/workflows/trips-ci.yml
Owners: none

Create deploy-trips.yml
  .github/workflows/deploy-trips.yml
Owners: none

Update deploy-trips.yml
  .github/workflows/deploy-trips.yml
Owners: none

Update deploy-trips.yml
  .github/workflows/deploy-trips.yml
Owners: none

test
  .github/workflows/deploy-trips.yml
Owners: none

checkout repo
  .github/workflows/deploy-trips.yml
Owners: none

remove checkout, reformat the document
  .github/workflows/deploy-trips.yml
  .github/workflows/trips-ci.yml
Owners: none

test docker login
  .github/workflows/deploy-trips.yml
Owners: none

Update deploy-trips.yml
  .github/workflows/deploy-trips.yml
Owners: none

Update deploy-trips.yml
  .github/workflows/deploy-trips.yml
Owners: none

Update deploy-trips.yml
  .github/workflows/deploy-trips.yml
Owners: none

Update deploy-trips.yml
  .github/workflows/deploy-trips.yml
Owners: none

.github/CODEOWNERS:

/apis/poi/ @harshsaki4
/apis/trips/ @aws-sujith
/apis/user-java/ @deepum-kapil
/apis/userprofile/ @weisdd
